<% content_for(:title) { "GSO Salesforce Support Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cases-opened-today" data-view="Meter" data-title="Cases Opened Today" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Total Open Cases" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="cases-by-team" data-view="List" data-unordered="true" data-title="Open Cases By Team" data-moreinfo="Currently open cases."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cases-closed-today" data-view="Meter" data-title="Cases Closed Today" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="chatter" data-view="Comments" style="background-color:grey;" data-moreinfo="Admin Group"></div>
    </li>

  </ul>
</div>
